<section id="main-splash">
  <h1>This is the slider title</h1> 
</section>

<section id="married-date">
  <h1>We are getting married!</h1>
  <h2>Wednesday, May 25th, 2016</h2>
</section>

<section id="timer" class="container">
  <div class="row">
    <timer until="May 25, 2016">
      <div class="col-xs-3 col-md-3">
        <div class="timer-item">
          <span>{{ days }}</span> days
        </div>
      </div>
      <div class="col-xs-3 col-md-3">
        <div class="timer-item">
          <span>{{ hours }}</span> hours
        </div>
      </div>
      <div class="col-xs-3 col-md-3">
        <div class="timer-item">
          <span>{{ minutes }}</span> minutes
        </div>
      </div>
      <div class="col-xs-3 col-md-3">
        <div class="timer-item">
          <span>{{ seconds }}</span> seconds
        </div>
      </div>
    </timer>
  </div>
</section>
