@import '../node_modules/bootstrap/less/bootstrap.less';
@import '../node_modules/font-awesome/less/font-awesome.less';
@import 'variables.less';
@import 'helpers.less';

html, body, #content {
  height: 100%;
}

body {
  background-color: @color-bg;
  padding-top: @height-nav;
  color: @color-fontbase;
}

nav {
  z-index: 10;
  position: fixed; top: 0;
  background-color: @color-lightbg;
  width: 100%; height: @height-nav;
  border-bottom: 1px solid @color-darkbg;

  #bars {
    position: fixed; left: 0; top: 0;
    display: none;
    background-color: @color-lightbg;
    width: 100%; height: @height-nav;
    padding-top: @mp-small; padding-left: @mp-small;
    border-bottom: 1px solid @color-darkbg;
    cursor: pointer;
  }
  ul {
    height: 100%;
    margin: 0; padding: 0;

    li {
      display: inline-block;
      list-style-type: none;
      height: 100%; min-width: @width-nav-item;

      a {
        display: block;
        height: 100%; width: 100%;
        padding:0 @mp-medium;
        text-align:center;
        line-height: @height-nav;

        &:hover {
          background-color: @color-darkbg;
          text-decoration: none;
        }
      }
    }
  }
}

#main-splash {
  background-image: url( 'http://goo.gl/Oqyclz' );
  background-size: cover;
  background-repeat: no-repeat;
  height: @height-mainsplash;

  h1 {
    margin: 0;
  }
}

#married-date {
  text-align: center;
}

#timer {
  text-align: center;
}

@media( max-width: @screen-md-min ) {
  nav {
    position: absolute; left: -@width-nav; top: @height-nav;
    width: @width-nav; height: 100vh;
    border-bottom:0;
    border-right: 1px solid @color-darkbg;
    transition: left 0.3s ease-in-out;

    #bars {
      display: inline-block;
    }
    ul {
      height: @height-nav;
      width: 100%;

      li {
        display: block;
        width: 100%; min-width: 100%;

        a {
          border-bottom: 1px solid @color-darkbg;
          text-align: left;
        }
      }
    }
  }
}
