@import '../node_modules/bootstrap/less/bootstrap.less';
@import 'variables.less';
@import 'helpers.less';

body {
  background-color: @color-bg;
}

#content {
  position: absolute;
  top: 50px; left: 0px; right: 0px; bottom: 0px;
  padding: 30px;
}
