.fancy-divider {
  .clearfix();
  height: 40px;
  color: @base-fontcolor;

  hr {
    float: left;
    width: 45%;
    margin-top: 20px;
    border-top: 1px solid @color-brdr-white;
  }

  .fa-heart {
    float: left;
    width: 10%;
    margin-top: 10px;
  }
}

.show-inline {
  display: inline-block !important;
}

.has-validation {
  position: relative;
}

.validation-result {
  position: absolute;
  top: 15px;
  width: 100%;

  & > .result {
    display: none;
    position: absolute;
    right: 10px;
    width: auto;
  }

  & > .valid {
    display: block;
    color: green;
  }

  & > .invalid {
    display: block;
    color: red;
  }
}
