.has-validation {
  position: relative;
}

.validation-result {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: left;

  & > .result {
    display: none;
    position: absolute;
    top: 15px;
    width: 100%;
  }

  & > .valid {
    display: block;
    right: -( 100% - 5px );
    color: green;
  }

  & > .invalid {
    display: block;
    right: -( 100% + 2px );
    color: red;
  }
}
