/**
* global defaults
*/
html, body, div {
  height: 100%;
}
body {
  font-size: @base-fontsize;
  color: @base-fontcolor;
}
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/**
* main styles
*/
nav {
  .clearfix();
  height: @h-nav;

  #logo-container, #items-container {
    float: left;
  }

  #items-container {
    height: @h-nav - 3px;
    margin-left: 20px;
  }

  #items-container li {
    float: left;
    display: table;
    height: 100%;
    width: @w-navitem;
    text-align: center;
  }

  #items-container li:nth-child( 2 ):hover ~ hr {
    margin-left: 25%;
  }

  #items-container li:nth-child( 3 ):hover ~ hr {
    margin-left: 50%;
  }

  #items-container li:nth-child( 4 ):hover ~ hr {
    margin-left: 75%;
  }

  #items-container a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: @base-fontcolor;
  }

  #items-container a:hover {
    background-color: darken( white, 5% );
    text-decoration: none;
  }

  hr {
    background-color: darken( @base-color, 30% );
    width: 25%;
    height: 3px;
    margin: 0;
    border: none;
    transition: .25s ease-in-out;
  }
}

#splash {
  background-image: url( '../img/bg_mainsplash.jpg' );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: @h-splash;
  box-shadow: inset 0px 0px 50px 0px fade( black, 80% );
}
